[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "3rdparty/preprocessor"]
	path = 3rdparty/preprocessor
	url = https://github.com/boostorg/preprocessor.git
[submodule "3rdparty/catch2"]
	path = 3rdparty/catch2
	url = https://github.com/catchorg/Catch2.git
